graft docs
graft src
graft tests
graft tutorial

include .coveragerc
include .editorconfig

include LICENSE
include README.rst
include *.bib
include *.md
include *.yml
recursive-include *.py

include tox.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib

