.tight-table td {
    white-space: normal !important;
}

article p {
    text-align: justify;
}

figure figcaption p {
    text-align: center;
    font-weight: bold;
}

/* Let the content of the page (usually 46em) use the right sidebar space (15em) */

.page:has(.toc-drawer.no-toc) .content {
    width: 61em;
}

/* This is to style the cards on the landing page */

.sd-material-icon {
  background: var(--color-background-secondary);
  border-radius: 50%;
  padding: 0.25em;
  overflow: visible;
}

/* Add the color of the logo */

:root {
  --color-logo-main: #1f567d;
}

.sd-text-logo-main {
  color: var(--color-logo-main);
}
